<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <p>あなたの手は<%= your %>です．</p>
    <p>コンピュータは<%= cpu %>です．</p>
    <p>判定：<%= judgement %></p>
    <p>現在<%= total %>試合中<%= win %>勝しています．</p>
    <hr>
    <form action="/janken0"><!--ここがアクセスのためのURL-->
        <input type="radio" name="jan" id="1" value="1">
        <label for="1">グー</label>
        <input type="radio" name="jan" id="2" value="2">
        <label for="2">チョキ</label>
        <input type="radio" name="jan" id="3" value="3">
        <label for="3">パー</label>
        <input type="submit" values="じゃんけん　ポン"><!--submit→ボタン-->
        <input type="hidden" name="win" value="<%= win %>">
        <input type="hidden" name="total" value="<%= total %>">
    </form>
</body>
</html>